a, a:active, a:focus{color:#0a9200;text-decoration:none;}
a:hover{color:#000000;}
a.dunkel{color:#000;text-decoration:underline;}
#loader{display:none;padding:0;margin:0;position:fixed;top:50%;left:50%;width:100px;height:100px;background:#fff;border:solid silver 1px;border-radius:0px;opacity:0.95;z-index:9999;vertical-align:middle;}
#loaderInner{display:none;position:absolute;top:50%;left:50%;width:32px;height:32px;margin-top:-16px;margin-left:-16px;background-image:url("/images/loader.gif");background-repeat:no-repeat;}
body {color:#444; font-size:15px;}
blockquote .small::after{content:"—";}
.author {color:#888;font-size:1.2rem;}
.border{border:1px solid #c0c0c0;}
.btn-default-dunkel{background:#C7C9C5;color:#000;}
.clearboth{clear:both;}
.close{font-size:25px;}
.col-centered{display:inline-block;float:none;text-align:left;margin-right:-4px;}
.col-min{min-width:360px;}
.cursor_pointer{cursor:pointer;}
.feld_leeren {position:relative; top:5px; color:#777; cursor:pointer;}
.header-full-title{background-image:none;background-position:left center;background-repeat:no-repeat;float:left;overflow:hidden;padding:10px 0px;}
.hidden-handy{display:none;}
.hr_small{margin-top:10px; margin-bottom: 10px;}
.icon-ar.icon-ar-xl-lg.icon-idealgewicht{width:200px;}
.icon-ar.icon-ar-xl-lg.icon-bmi{width:90px;}
.left{float:left;margin:0 15px 10px 0;}
.login-form-full{margin:0 auto;max-width:500px;padding-top:20px;}
.margin-bottom{margin-bottom:25px;}
.margin_top{margin-top:15px;}
.margin_top10{margin-top:10px;}
.margin_top20{margin-top:20px;}
.margin_top30{margin-top:30px;}
.margin_top40{margin-top:40px;}
.margin_top60{margin-top:60px;}
.margin_top5{margin-top:5px;}
.modal-content{height:750px;overflow:auto;}
.navbar-inverse .navbar-brand{background-image:none;}
.navbar-default .navbar-brand{margin-left:0px;}
.navbar-brand img{position:relative;top:-13px;margin-left:40px;}
.navbar-inverse .dropdown .dropdown-menu a, .navbar-inverse .dropdown .dropdown-menu a:hover, .navbar-inverse .dropdown .dropdown-menu a:focus {font-size: 1.2em;}
.navbar-default.navbar-inverse .navbar-nav > li > a, .navbar-default.navbar-inverse .navbar-nav > li > a:hover, .navbar-default.navbar-inverse .navbar-nav > li > a:focus, .navbar-default.navbar-inverse .navbar-nav > .active > a, .navbar-default.navbar-inverse .navbar-nav > .active > a:hover, .navbar-default.navbar-inverse .navbar-nav > .active > a:focus .navbar-default.navbar-inverse .navbar-nav > .open > a, .navbar-default.navbar-inverse .navbar-nav > .open > a:hover, .navbar-default.navbar-inverse .navbar-nav > .open > a:focus {
    font-size: 1.3em;
}
.padding-15{padding:15px;}
.padding-20{padding:20px;}
.padding-25{padding:25px;}
.padding-30{padding:30px;}
.padding_dropdown{padding-right:35px;}
.panel-default .panel-heading.bg, .panel-default .panel-footer.bg{background-image:url("images/bg_default.jpg");background-repeat:no-repeat;background-color:#ADDB70;color:#F2ECB8;font-weight:700;}
.row-centered{text-align:center;}
.services-header{background-image:url("images/bg_start.jpg");;}
.service-header-text .btn-ar.btn-primary{background-image:linear-gradient(to top, #087300, #0a9200);border:1px solid #00577c;box-shadow:0 0 3px rgba(255, 255, 255, 0.75), 0 0 2px rgba(255, 255, 255, 0.75) inset;font-size:1.1em;margin:20px 0;margin-right:5px;padding:6px 15px;text-shadow:none;}
.sampleClass{float:left;}
@media only screen and (min-width:768px){.sampleClass{float:none;}
}
.tabelle_aktiv{background:#efefef;}
.text-icon{margin-bottom:10px;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.width250{width:250px;}
.width200{width:200px;}
.width100{width:100px;}
.width40{width:40px;}
.width20{width:20px;}
@media screen and (max-width:600px){.hidden-handy{display:block;}
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{float:left;border:0px solid #555;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{min-height:1px;padding-left:15px;padding-right:15px;position:relative;border:0px solid #555;}
@media screen and (max-width:600px) { .float-600 {float:none !important;clear: both !important;} }